body{
    font-family: 'roboto_condensedregular';
    background: #F3F3F3;
;
    font-size: 100%;
}
a{list-style: none;text-decoration:none;}

/*haeder*/
.haeder-page{background-color: #002663;}
.navbar-brand{font-size: 28px;font-weight: bold;color: white;}
.navbar-brand span{font-size:17px;font-weight: normal;color: #ffffff9c;}
.navbar-brand:hover{color: white;}
.navbar-toggler .fas{border: 1px solid #0e0e0e;padding: 10px;border-radius: 5px;}
.navbar-toggler:focus{border:none;outline: none;}
.nav-item{padding: 0 7px;font-size: 18px;font-weight: bold;}
.nav-link{color: white;}
.nav-link:hover{color: black;}
.navbar-nav li.active a, .navbar-nav li a:hover {background: #386aa0;box-shadow: inset 0px -4px 0px #47817E;border-radius: 4px;}
.slideshow img{width: 100%;height:589px;display: block;border: 1px solid #002663;}
/*about*/
.about {padding: 80px 0px;}
.heading-banner {font-weight: 800;letter-spacing: .5px;font-size: 35px;margin-bottom: 1.5em;text-align: center;color: #002663;text-transform: capitalize;}
.banner_bottom_right_grid img{    transition: all 2s ease-in-out;}
.banner_bottom_right_grid:hover img{ -webkit-transform: scale(0.9);
-ms-transform: scale(0.9);
-o-transform: scale(0.9);
transform: scale(0.9);}
.wthree_banner_bottom_right_grids{margin-bottom: 20px;}
.banner_bottom_left {text-align: left;margin-top: 4em;padding-left: 35px;}
.banner_bottom_left h3 {font-size: 1.4em;letter-spacing: 1px;color: #212121;text-transform: uppercase;}
.banner_bottom_left p {color: #999;line-height: 2em;margin-bottom: 3em;
font-size: 16px;}
.banner_bottom_left p i {color: #ff9900;display: block;margin: .5em 0 1em;}
.wthree_more1 a {padding: 8px 38px;display: inline-block;color: #fff;
text-decoration: none;outline: none;background: #ff9900;font-size: 15px;letter-spacing: .5px;text-transform: capitalize;}

.hvr-bounce-to-bottom:before {content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background:#002663;
-webkit-transform: scaleY(0);transform: scaleY(0);
-webkit-transform-origin: 50% 0;transform-origin: 50% 0;
-webkit-transition-property: transform;transition-property: transform;
-webkit-transition-duration: 0.5s;transition-duration: 0.5s;
-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: none;
  color: #fff;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#002663;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover,.hvr-bounce-to-bottom:focus,.hvr-bounce-to-bottom:active {color: white;}
.hvr-bounce-to-bottom:hover:before,.hvr-bounce-to-bottom:focus:before,.hvr-bounce-to-bottom:active:before {transform: scaleY(1);transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);}

/*more*/
.top_grid {background: #002663;padding: 4%;}
.span1_of_1 {padding: 0;}
.span1_of_1 h3 {text-transform: capitalize; margin: 0;font-size: 28px;
color: #cedddefc;}
.span1_of_1 p {font-size: 14px;color: #cedddefc;line-height: 1.8em;}
.span1_of_2 {position: relative;}
.btn {font-family: 'roboto_condensedregular';font-size: 14px;
color: #FFFFFF !important;padding: 12px 30px;background: #3a3d9e;
line-height: 20px;text-transform: uppercase;border: none;outline: none;
-webkit-appearance: none;-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;box-shadow: inset 0px -4px 0px #47817E;-webkit-box-shadow: inset 0px -4px 0px #47817E;
-moz-box-shadow: inset 0px -4px 0px #47817E;-o-box-shadow: inset 0px -4px 0px #47817E;margin-top: 7px;}
.btn:after {content: '';position: absolute;z-index: -1;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}


/*service*/
.services {padding: 70px 0px;}
.heading-info {font-family: 'Roboto', sans-serif;font-weight: 800;letter-spacing: .5px;font-size: 35px;
margin-bottom: 1.5em;text-align: center;color: #002663;text-transform: capitalize;}
.popular-grid {padding: 0 !important;margin: 0 !important;}
.popular-grid img {-webkit-transition: all 2s ease-in-out;-moz-transition: all 2s ease-in-out;-o-transition: all 2s ease-in-out;transition: all 2s ease-in-out; border: 1px solid #fff;width: 100%;}
.popular-text {text-align: center;border: 1px double rgba(189, 187, 187, 0.61);border-top: none;}
.popular-text i {font-size: 2em;margin-top: 25px;color: #002663;}
.popular-grid h5 {font-size: 1.8em;color: #000000;background: #ff9900;
padding: 0.5em;margin: 10px 0 25px;}
.popular-grid p {font-size: 15px;letter-spacing: .5px;line-height: 30px;
padding: 0em 1em 1.5em;color: #000000;}
.popular-grid:hover img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

/*slider*/
.dg-container{
	width: 100%;
	height: 400px;
	position: relative;
}
.dg-wrapper{
	width: 452px;
	height: 360px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url('../images/browser.png') no-repeat top left;
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
/*end slider*/
.main1_bg{
	background: #ececec;
}
.slider_text{
	padding:40px 0 45px;
	text-align: center;
}
.slider_text h4{
	text-transform: uppercase;
	font-size: 34px;
	color: #E8645A;
}
.slider_text p {
	font-size: 14px;
	color: #888888;
	line-height: 1.8em;
}
.banner{
	margin-top: -80px;
}
.allinone_carousel.charming .bottomNav {
	display: none !important;
}

/*gallery*/
.gallery{padding: 40px 0;}
.gallery .col-xl-2{padding-left: 0;padding-right: 0;}
.footer {
     background-color: rgb(16, 16, 16);
     padding-top: 20px;
}
.footer h4 {
    margin:0 0 .5em;
}
.footer h3 {
    color: #fff;
    font-size: 1.4em;
    margin: 0.4em 0 .5em;
    text-transform: capitalize;
}
.footer-grids ul li {
      margin-bottom: 1em;
      list-style: none;
	     display: inline-block;
}
.footer-grids ul li a {
  color: #868686;
  font-size:14px;
  text-decoration: none;
}
.b-nav{padding-left: 0;}
ul.b-nav li{
	display:block;
}
section.social ul li a i {
    line-height: 34px;
    color: #fff;
}
.footer-grids ul li a:hover {
  color: #fff;
}
.footer-grids p  a{
	color: #868686;
    font-size: 14px;
    text-decoration: none;
}
.footer-grids p a:hover {
	color: #fff;
}
.footer-grids p {
    color: #a5a5a5;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
    letter-spacing: .5px;
}
p.footer-one-w3ls {
    padding-right: 20px;
}
.footer-grids.w3l-agileits span {
    color: #444;
    font-size: 14px;
    letter-spacing: .8px;
}
.footer-grids form {
  margin-top: 1.2em;
}
.footer-grids form input[type="email"] {
  width: 71%;
  padding: 9px 12px;
  font-size: 14px;
  float: left;
  color: #000;
  outline: none;
  border: none;
  background: #fff;
  -webkit-appearance: none;
}
.footer-grids form input[type="submit"] {
    font-size: 12px;
    float: left;
    color: #fff;
    outline: none;
    padding: 10.6px 9px;
    border: none;
    background:#ff9900;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -webkit-appearance: none;
}
.footer-grids form input[type="submit"]:hover{
	    background: #002663;
		 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -webkit-appearance: none;
}
.footer-bottom {
	background-color: #201F1F;
	padding: 2em 0;
	text-align: center;
}
.footer-bottom p {
    color: #777;
    margin: 0;
    font-size: 14px;
    letter-spacing: .7px;
    margin-top: 9px;
}
.footer-bottom p a{
	color: #00c4ff;
	text-decoration:none;
}
.footer-bottom p a:hover{
	color: #ff0b00;
}
.top-w3ls a {
    color: #777;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: .6px;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-top: 6px;
}
.top-w3ls a:hover {
    color: #ffffff;
}
.top-w3ls a span {
    margin-right: 4px;
}
.social-icons-agileits ul {
    padding: 1em 0 .5em;
}
.social-icons-agileits ul li{
	list-style-type:none;
	display:inline-block;
}
.social-icons-agileits ul li:nth-child(2) {
    margin: 0 0.5em;
}
.social-icons-agileits ul li a i {
    font-size: 16px;
}
.social-icons-agileits ul li a {
    color: #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    font-size: 1.2em;
    line-height: 32px;
    text-align: center;
    background: #002663;
}
.social-icons-agileits .hvr-bounce-to-bottom:before {
    background: #ff9900!important;
}
.copy h2 a {
    text-decoration: none;
    color: #fff;
}
.copy h2 a span {
    color: #ff9900;
}
.copy h2 {
    display: inline-block;
    float: left;
	font-size: 30px;
}
/*--//footer--*/
/*--copy-right--*/
.copy {
    text-align: center;
    background: #000000;
	padding:1.5em 0em;
}
.copy p {
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    float: right;
    margin-top: 8px;
}
.copy p a {
    color: #ff9900;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTop:hover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}










@media (max-width:768px){
 .navbar-nav  {margin-top: 20px;}
 .nav-item  .nav-link{padding-left: 10px;}
 .slideshow img{height: 100%;}
 .view-tenth img{height: 100%;width: 100%;}
 .banner_bottom_right_grid{margin-bottom: 10px;}
 .services {padding: 50px 0px;}
 .about {padding: 50px 0px;}
 .popular-grid{margin-bottom: 15px !important;}
    .gallery .col-xl-6{margin-bottom: 10px;}
    .gallery .col-xl-2{margin-bottom: 10px;}
}


























